/preprocess/__pycache__/
/train/__pycache__/
/clean_dataset/
/dataset/.floyddata
/dataset/.floydexpt
/dataset/.floydignorex
/dataset/*ipynb
/dataset/english-malay
dataset/.ipynb_checkpoints
.floydexpt
.floydignore
floyd.yml
